[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-login = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest --junitxml=build/reports/junit_xml_test_report.xml --cov=src --cov branch --cov-report=html"
format = "black ."
lint = "flake8 --max-line-length=88 app tests/unit"
sort = "isort --profile black ."
