{% extends "bootstrap/base.html"%}
{% block title %}Value Investing Strategy{% endblock %}

{% block navbar%}
<div class="navbar navbar-dark" style="background-color: #2b5994;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a style="color: #f0f1f6" href="/">Home</a></li>
                    <li><a style="color: #f0f1f6" href="/">Fundamental Analysis</a></li>
                    <li><a style="color: #f0f1f6" href="/">Compare</a></li>
                    <li><a style="color: #f0f1f6" href="/">Balance Portfolio</a></li>
                    <li><a style="color: #f0f1f6" href="/">Calculate Graham Number</a></li>
                    <li><a style="color: #f0f1f6" href="/">Learn</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: #f0f1f6" href="/">Profile</a></li>
                    <li><a style="color: #f0f1f6" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a style="color: #f0f1f6" href="/">Home</a></li>
                    <li><a style="color: #f0f1f6" href="/">Try It</a></li>
                    <li><a style="color: #f0f1f6" href="/">Learn</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: #f0f1f6" href="{{ url_for('auth.login') }}">Sign In</a></li>
                    <li><a style="color: #f0f1f6" href="{{ url_for('auth.register') }}">Sign Up</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>

{% endblock%}

{% block scripts %}
{{ super() }}
{% endblock %}
